[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

MemoryCaptures/

.DS_Store

.vscode/
.idea/

*.csproj
*.sln
*.user
*.pidb
*.booproj
# iOS Build Output
ArmyRush_iOSBuild/
ArmyRush_iOSSimulatorBuild/
*_iOSBuild/
Build/
Builds/
DerivedData/
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
